<section class="flex flex-col md:flex-row gap-8 justify-center">
    <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1">
    <p>
    Me llamo Cristian Poroj, soy un autodidacta siempre en busca de nuevas oportunidades para ampliar mis conocimientos y habilidades.  <strong>Mi enfoque en el aprendizaje autónomo me impulsa a mejorar constantemente</strong>.
    <p/>
    <p>
      Actualmente, curso el tercer año de Ingeniería en Ciencias y
      Sistemas en la Universidad de San Carlos de Guatemala. <strong> He
      completado con éxito el bootcamp de desarrollo front-end de Alura Latam,
      certificándome como <em class="italic">programador Front-end por Oracle</em></strong>.
    </p>
    <p>
      Soy un profesional proactivo y orientado al detalle. <strong>Estoy emocionado por aplicar mis habilidades en un entorno laboral</strong>, contribuir al éxito de proyectos y seguir creciendo profesionalmente.
    </p>
    </div>
    <img src="/img/me.webp" class="rounded-full size-64 order-1 md:order-2">
</section>
